server {
    listen 80 default_server;

    {% if inventory_hostname in groups['web_servers'] %}
    location / {
        proxy_pass http://{{ localhost_ipv4 }}:{{ agama_port_range_start }};
        proxy_set_header Host $http_host;
    }
    {% endif %}

    {% if inventory_hostname in groups['internal_service_proxies'] %}
    location /prometheus {
        proxy_pass http://{{ service_cname_records.prometheus }}:{{ prometheus_port }};
    }

    location /grafana {
        proxy_pass http://{{ service_cname_records.grafana }}:{{ grafana_port }};
        proxy_set_header Host $http_host;
    }
    {% endif %}
}
