server {
    listen 80 default_server;

    location / {
        proxy_pass http://localhost:{{ agama_port }};
    }

    location /prometheus {
        proxy_pass http://{{ groups['prometheus_servers'][0] }}:{{ prometheus_port }};
    }

    location /grafana {
        proxy_pass http://{{ groups['grafana_servers'][0] }}:{{ grafana_port }};
        proxy_set_header Host $http_host;
    }
}
