server {
    listen 80 default_server;

    {% if inventory_hostname in groups['web_servers'] %}
    location / {
        proxy_pass http://{{ localhost_ipv4 }}:{{ agama_port_range_start }};
        proxy_set_header Host $http_host;
    }
    {% endif %}

    {% if inventory_hostname in groups['internal_service_proxies'] %}
    location /prometheus {
        set $prometheus_host {{ service_cname_records.prometheus }};
        proxy_pass http://$prometheus_host:{{ prometheus_port }};
    }

    location /grafana {
        set $grafana_host {{ service_cname_records.grafana }};
        proxy_pass http://$grafana_host:{{ grafana_port }};
        proxy_set_header Host $http_host;
    }
    {% endif %}
}
