apiVersion: 1

datasources:
 - name: Prometheus
   type: prometheus
   url: http://prometheus:{{ prometheus_port }}/prometheus
   password:
   user:
   database:
   isDefault: true
   access: proxy
   editable: true

 - name: InfluxDB-pinger
   type: influxdb
   url: http://influxdb:{{ influxdb_api_port }}
   password:
   user:
   database: latency
   editable: true

 - name: InfluxDB-telegraf
   type: influxdb
   url: http://influxdb:{{ influxdb_api_port }}
   password:
   user:
   database: telegraf
   editable: true
