options {
    directory "/var/cache/bind";

    forwarders {
        {% for forwarder in forwarders %}
            {{ forwarder }};
        {% endfor %}
    };

    allow-query {
        {{ localhost }};
        {{ local_network }};
    };

    dnssec-validation no;
};

statistics-channels {
    inet {{ localhost_ipv4 }} port {{ bind_statistics_channel_port }} allow { {{ localhost_ipv4 }}; };
};

key "{{ bind_transfer_key_name }}" {
    algorithm {{ bind_transfer_key_algorithm }};
    secret "{{ bind_transfer_key_secret }}";
};

key "{{ bind_update_key_name }}" {
    algorithm {{ bind_update_key_algorithm }};
    secret "{{ bind_update_key_secret }}";
};
