options {
    directory "/var/lib/bind";

    forwarders {
        {% for forwarder in forwarders %}
            {{ forwarder }};
        {% endfor %}
    };

    allow-query {
        {{ localhost }};
        {{ local_network }};
    };

    dnssec-validation no;
};

statistics-channels {
    # TODO: un-hardcode these values
    inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};
