global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    scrape_timeout: 5s
    metrics_path: /prometheus/metrics #defaults to '/metrics'
    static_configs:
      - targets: ['localhost:{{ prometheus_port }}']

  - job_name: linux
    static_configs:
      - targets:
        {% for vm in groups['all'] %}
        - {{ vm }}:{{ node_exporter_port }}
        {% endfor %}

  - job_name: bind9
    static_configs:
      - targets: 
        {% for vm in range(1, groups['dns_servers'] | length + 1) %}
        - {{ service_cname_records.name_server }}-{{ loop.index }}:{{ bind_exporter_port }}
        {% endfor %}

  - job_name: mysql
    static_configs:
      - targets:
        {% for vm in range(1, groups['db_servers'] | length + 1) %}
        - {{ service_cname_records.mysql }}-{{ loop.index }}:{{ mysql_exporter_port }}
        {% endfor %}

  - job_name: nginx
    static_configs:
      - targets:
        {% for vm in range(1, groups['web_servers'] | length + 1) %}
        - {{ service_cname_records.web_app }}-{{ loop.index }}:{{ nginx_exporter_port }}
        {% endfor %}
  
  - job_name: influxdb
    static_configs:
      - targets:
        {% for vm in range(1, groups['influxdb_servers'] | length + 1) %}
        - {{ service_cname_records.influxdb }}:{{ influxdb_metrics_port }}
        {% endfor %}

  - job_name: haproxy
    static_configs:
      - targets:
        {% for vm in range(1, groups['haproxy_servers'] | length + 1) %}
        - {{ service_cname_records.haproxy }}-{{ loop.index }}:{{ haproxy_exporter_port }}
        {% endfor %}

  - job_name: keepalived
    static_configs:
      - targets:
        {% for vm in range(1, groups['haproxy_servers'] | length + 1) %}
        - {{ service_cname_records.haproxy }}-{{ loop.index }}:{{ keepalived_exporter_port }}
        {% endfor %}
